@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url("../assets/mariobg.png");
}

.title {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Rubik Puddles';
    color: white;
    font-size: 55px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.color-green {
    background-color: green;
    width: 20rem;
    height: 20rem;
    border-top-left-radius: 100%;
    border: solid rgb(42, 185, 42) 5px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}

.color-green.active {
    background-color: lightgreen;
    transform:scale(1.05);
    transition: 1.5s;
    box-shadow: 2px 1px 64px 13px lightgreen;
-webkit-box-shadow: 2px 1px 64px 13px lightgreen;
-moz-box-shadow: 2px 1px 64px 13px lightgreen;
}

.color-yellow {
    background-color: yellow;
    width: 20rem;
    height: 20rem;
    border-top-right-radius: 100%;
    border: solid rgb(195, 195, 38) 5px;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}

.color-yellow.active {
    background-color: lightyellow;
    transform:scale(1.05);
    transition: 1.5s;
    box-shadow: 2px 1px 64px 13px lightyellow;
    -webkit-box-shadow: 2px 1px 64px 13px lightyellow;
    -moz-box-shadow: 2px 1px 64px 13px lightyellow;
}

.color-red {
    background-color: red;
    width: 20rem;
    height: 20rem;
    border-bottom-left-radius: 100%;
    margin-right: 20px;
    border: solid rgb(238, 105, 105) 5px;
    cursor: pointer;
    transition: background-color 1.5s ease-in-out;
}

.color-red.active {
    background-color: lightcoral;
    transform:scale(1.05);
    transition: 1.5s;
    box-shadow: 2px 1px 64px 13px lightcoral;
-webkit-box-shadow: 2px 1px 64px 13px lightcoral;
-moz-box-shadow: 2px 1px 64px 13px lightcoral;
}

.color-blue {
    background-color: blue;
    width: 20rem;
    height: 20rem;
    border-bottom-right-radius: 100%;
    border: solid rgb(87, 87, 202) 5px;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}

.color-blue.active {
    background-color: lightblue;
    transform:scale(1.05);
    transition: 1.5s;
    box-shadow: 2px 1px 64px 13px lightblue;
    -webkit-box-shadow: 2px 1px 64px 13px lightblue;
    -moz-box-shadow: 2px 1px 64px 13px lightblue;
}

.left-side {
    display: flex;
    margin-bottom: 20px;
}

.right-side {
    display: flex;
}

.middle{
    display: flex;
    position: absolute; 
    background-color: brown;
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    margin-top: 13rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#score {
    text-align: center;
    font-family: 'Orbitron';
    font-weight: 500;
    font-size: 12px;
    color: wheat;
}

button{
    background-color:rgb(170, 81, 81);
    width: 10rem;
    height: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    border: 1px black solid;
    border-radius: 10%;
    font-family: 'Orbitron';
    color: wheat;
    
}

h3{
    font-family: 'Orbitron';
    font-size: 20px;
}

